*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
}
main{
    display: flex;
}
.main-col-1{
    /* min-width: 67vw; */
    flex:4;
}
.col-1,header,.article,.aside,footer{
    padding: 1em;
}
.col-1{
    background-color: #D7E8D4;
    height: 100vh;
    width: 18%;
}
.col-2{
    min-width: 82vw;
}
header,footer{
    background-color: yellowgreen;
    height: 20vh;
}
header{
    width: 100%;
}
footer{
    width: 100%;
}
.aside{
    height: 80vh;
    background-color: beige;
    width: 25%;
}
.article{
    /* flex-grow: 1; */
    height: 60vh;
}